/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
  color: #000000;
  line-height: 1.6;
}

/* Header / Navbar */
header {
  background-color: #000000;
  padding: 1em 0;
}

.navbar {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5em;
  color: white;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1em;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links li a:hover {
  color: #FFA000;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(to right, #FFF8E1, #ffffff);
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.btn {
  display: inline-block;
  background-color: #FF6F00;
  color: white;
  text-decoration: none;
  padding: 0.7em 1.5em;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background-color: #FF6F00;
}

/* Footer */
footer {
  text-align: center;
  padding: 1em;
  background-color: #000000;
  color: #aaa;
  margin-top: 2em;
}

:root {
  --primary-color: #FF6F00;
}

.text-primary {
  color: var(--primary-color) !important;
}

:root {
  --bs-primary: #FF6F00;
}

:root {
    --bs-primary: #FF6F00;
    --bs-link-color: var(--bs-primary);
    --bs-link-hover-color: color-mix(in srgb, var(--bs-primary), black 25%);
}

a {
  color: var(--bs-link-color) !important;
}

a:hover {
  color: var(--bs-link-hover-color) !important;
}
